html,body{
    margin:0;
    margin:0;
}

h1{
    text-align:center;
    color:green;
    font-family: Georgia;

}
h2{
    text-align:center;
    font-family:Georgia;
}

p{
    line-height:25px;
   
    
    
}


a:link{
    text-decoration:none;
    
}
a:hover{
    text-decoration: underline;
}

img{
    float:left;
    
}
div{
    text-transform: uppercase;
}