body, html {
    margin: 10px;
}
.space-one {
    display: inline-block;
    padding: 15px;
    margin: 5px;
    background-color: #F5C6D6;
}
.space-two {
    display: inline-block;
    box-sizing:border-box ;
    padding: 15px;
    width: 250px;
    margin: 5px;
    background-color: #F5C6D6;
}

.space-three {
    display: inline-block;
    box-sizing:border-box ;
    padding: 15px;
    width: 250px;
    margin: 0px;
    background-color: #F5C6D6;

}
.space-four{
    display: inline-block;
    box-sizing:border-box ;
    padding: 15px;
    width: 240px;
    margin: 0px;
    background-color: #F5C6D6;
}
.space-five{
    display: inline-block;
    box-sizing:border-box ;
    padding: 15px;
    width: 240px;
    margin: 0px;
    background-color: #F5C6D6;
}
.space-six{
    display: inline-block;
    box-sizing:border-box ;
    padding: 15px;
    width: 450px;
    margin: 15px;
    background-color: #85cfd8;
}

    .space-seven{
        display: inline-block;
        box-sizing:border-box ;
        padding: 15px;
        width: 450px;
        margin: 15px;
        background-color: #85CFD8;

    }
.space-eight{
    display: inline-block;
    box-sizing:border-box ;
    padding: 15px;
    width: 450px;
    margin: 15px;
    background-color: #8dc63f;

}
.space-nine{
    display: inline-block;
    box-sizing:border-box ;
    padding: 15px;
    width: 250px;
    margin: 15px;
    background-color: #E76E34;

}